<html>
    <!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sobre</title>
        <style> body {font: normal 16px arial, verdana, serif;} 
        h1{text-align: center;}
        h2{text-align: center;}
        p{text-align: center;}
        </style>
    </head>
    <body>
        <h1>Sobre o projeto</h1>
        <p>Esse projeto foi desenvolvido pelos alunos do curso de <b>Análise e Desenvolvimento de Sistemas</b> da <b>FATEC Carapicuíba</b>, destinado aos estudantes e professores de curso superior que possuam interesse emrealizar o simulado do<b> ENADE </b>de Logística de 2012.</p>
        <p>O mesmo tem o intuito de ser um simulado automatizado da <b>prova do ENADE de Logística do ano de 2012, </b>onde todas as questões possuem multiplas alternativas, possibilitando assim que o candidato/aluno possa resolver a provas/simulado de forma online e analisar seu desempenho.</p>
        <p>Assim a realização e disponibilização desse sistema web em formato de simulado online, possui como objetivo gerar facilidade e praticidadena resolução da prova <b>ENADE</b> por meio da tecnologia, uma vez que a prova oficial do  ENADE  de Logistica 2017 atualmente está disponivel apenas em pdf.</p>
        <h2>Autores:</h2> <p>DIAS, <b>Giovane</b><br>MAGALHÃES, <b>Luiz</b><br>RAMOS, <b>Mateus</b><br>PAZIANOTO, <b>Pedro</b></p>
        <p>Orientadora:<br><br>Profª MSC FELIX, <b>Rita</b></p>

    
    </body>
    </html>